{% extends '_base.html.twig' %}
{% set baseTemplateId = 'mst01' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/mst01/mst01.css') }}">
{% endblock %}

{% block header %}
    {{ include('Mst/_header.html.twig', {'headerName': baseTemplateName}, with_context = false) }}
{% endblock header %}

{% block body %}
    <div class="cntnr_inner">

        {# js-cntnr_innerMainWrap はフィルタの開閉に使用 #}
        <div id="js-cntnr_innerMainWrap" class="cntnr_innerMainWrap" :class="{'is-cntnr_innerMainWrap-navShow': isFilter}">

            <article class="cntnr_innerMainContents" ref="cntnr_innerMainContents">
                {# メインコンテンツ #}
                {% block mainContents %}

                    {# フィルタ #}
                    {% block rightNav %}{% endblock rightNav %}

                {% endblock mainContents %}
            </article>
        </div>
        <div id="js-mst01_innerNav" class="mst01_innerNav">
            <div class="innerNav_header" @click="changeLeftNavView"></div>

            {# 左ナビゲーションの中身 #}
            {% block leftNav %}{% endblock leftNav %}

        </div>
    </div>

    {% block simpleModal %}
        <div id="js-simple-modal-area">
            <v-simple-modal></v-simple-modal>
        </div>
    {% endblock simpleModal %}

    {% block autoCompleteList %}{% endblock autoCompleteList %}

    {% block loading %}
        <div id="js-loading-area">
            <v-loading></v-loading>
        </div>
    {% endblock loading %}

{% endblock body %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('build/js/Mst/mst01.js') }}"></script>
{% endblock foot_script %}
